/* Color */

.color-light {
  color: whitesmoke;
}
.color-dark {
  color: var(--text-color-secondary);
}
.color-grey {
  color: #b8b6dd;
}
.color-accent {
  color: var(--secondary-color);
}
.color-warning {
  color: var(--highlight-color);
}
