body {
  background-color: var(--primary-bg);
  color: var(--text-color);
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}
.hero {
  background-image: url("");
  padding: 100px 0;
}

footer {
  margin-top: 50 px;
}
.transparent-bg {
  --bs-bg-opacity: 0;
}
.container-center {
  margin: auto;
  width: 960px;
}
